<app-layout></app-layout>

<section>
<br>
<br>
    <form class="formulario">
        <fieldset>
            <legend>Contáctame llenando todos los campos</legend>
            

           
            <div class="contenedor-campos">
            
                
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput>
                      </mat-form-field>
                      

                    <mat-form-field appearance="outline">
                        <mat-label>Telefono</mat-label>
                        <input matInput>
                      </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput>
                      </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Textarea</mat-label>
                        <textarea matInput></textarea>
                      </mat-form-field>
                      
            </div> <!--campos-->

            <div class="alinear-derecha flex">
                <button mat-raised-button color="primary">Enviar</button>
            </div>

        </fieldset>
    </form>

</section>
