.form{
    background-color: azure;
}

.contacto{
    background-image: url(../../assets/static/images/fondo_contacto.png);
}

.formulario{
    width: min(40rem, 100%);  /*Utiliza el valor mas pequeño*/
    margin: auto;
    padding: 2rem;
}


.legend{
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #ffc107;
}


