<app-layout></app-layout>

<div class="row ">
  <div class="col-8 form">
          <legend class="legend">Contáctame llenando todos los campos</legend>
          

          <form class="formulario">

          <div class="contenedor-campos col-12">
          
              <div class="row">
                  <mat-form-field appearance="outline">
                      <mat-label>Nombre</mat-label>
                      <input matInput>
                    </mat-form-field>
              </div>

              <div class="row">
                  <mat-form-field appearance="outline">
                      <mat-label>Telefono</mat-label>
                      <input type="number" matInput>
                    </mat-form-field>
                  </div>

                <div class="row">
                  <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                      <input type="email" matInput>
                    </mat-form-field>
                  </div>

                <div class="row">
                  <mat-form-field appearance="outline">
                      <mat-label>Comentario</mat-label>
                      <textarea matInput></textarea>
                    </mat-form-field>
                  </div>
                  
                  <div class="row">
                    <button mat-button>Enviar</button>
                  </div>
    
        </div>
      </form>
  
  </div> 
  
    <div class="contacto col-4">
      <p>holas</p>
    </div>
</div>
